body {
    font-family: Roboto, sans-serif;
}


.navbar-as-a-whole {
    width: 100%;
    position: fixed;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 2;
    top: 0;
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
}

.take-me-home-logo {
    position: relative;
    float: left;
    margin-top: 26px;
    z-index: 1;
}

.open-kast {
    width: 104px;
    height: 27px;
    margin-top: 26px;
    margin-left: 40px;
    margin-right: 50px;
    padding: 0px;
    float: right;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #fff;
    color: #fff;
    letter-spacing: 1.5px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 27px;
}

/*not so sure about this all-the-dropdowns styling; i removed an irrelevant div and added that styling here... to be inspected when you get back around to the nav bar styling*/

.all-the-dropdown-navs {
    position: relative;
    float: right;
    margin-top: 18px;
    color: #fff;
    
    padding-top: 0px;
    padding-bottom: 0px;
    border: 1px none #fff;
    display: inline-block;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    z-index: 900;
}

.top-violet-div {
    background-image:url(https://www.kastapp.co/images/gradient-violet-bg.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
    left: auto;
    min-height: auto;
    margin-top: -80px;
    padding-top: 140px;
    padding-bottom: 110px;
    background-position: 50% 50%;
}

.laptop-violet-div {
    vertical-align: middle;
}

.violet-section-title {
    max-width: 860px;
    text-align: center;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


.footer {
    bottom: 0;
    width: 100%;
    background-color: #1b8c88;
    text-align: center;
}